.card {
    margin:2% !important
}

.cartbtn{
    color: white !important;
    width: 100%;
    background-color: #f14d54 !important;
    font-family: 'Roboto', sans-serif !important;
}

.prodname,.des{
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
}