.logtitle{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.pos .homelink{
    text-decoration: none;
    color: inherit;
}

.regform{
    font-family: 'Roboto', sans-serif;
}

.regform h5{
    font-weight: bold;
    border-bottom: 1px solid #838383;
    padding-bottom: 1%;
}

.regform p{
    font-size: 15px;
    color: #838383;
}

.form-group #fname, .form-group #lname, .form-group #pass, .form-group #cpass{
    width: 357px !important;
    height: 40px !important;
}

.form-group #email{
    width: 83% !important;
}

.regbtn{
    width: 136px;
    height: 45px;
    background-color: #f14d54 !important;
    color: white !important;
}